body {
	font-family: monospace;
}

.kb {
	display: block;
	padding: 2px;
	width: 100%;
	text-align: center;
}

.key {
	color: black;
	background-color: lightgray;
	padding: 1em 0.75em;
	margin: 0.2em;	
	font-weight: bold;
	display: inline-block;
}

.word {
	display: block;
	padding: 2px;
	width: 100%;
	text-align: center;
}

.box {
	background-color: white;
	padding: 1em;
	margin: 0.2em;
	display: inline-block;
	border: 2px gray solid;
}

#title {
	text-align: center;
}

#message {
	margin: 1em;
}

.right {
	float: right;
}

.loader {
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 1em;
	height: 1em;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
